.button-row button,
.button-row a {
  margin-right: 8px;
}

section {
  padding: 25px;
}

.e-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    mat-form-field{
      display: block;
      min-width: 60px;
    }
}

