<div fxLayout="column">
  <div fxFlex="" class="one">
    <img src="" class="img-responsive">
  </div>
  <div fxFlex="" class="two">Recipe Name</div>
  <div fxFlex="" class="">
    <mat-form-field>
      <mat-select placeholder="Manage Recipe">
        <mat-option *ngFor="let option of options" [value]="option.id">
          {{option.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="" class="">Description</div>
  <div fxFlex="" class="">Ingredients</div>
</div>
