<div class="padding" fxLayout="column">
  <div fxFlex="" class="one">
    <img [src]="recipe.imgPath">
  </div>
  <h2 fxFlex="" class="two">{{recipe.name}}</h2>
  <div fxFlex="" class="">
    <mat-form-field>
      <mat-select placeholder="Manage Recipe">
        <mat-option *ngFor="let option of options" [value]="option.id">
          {{option.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxFlex="" class="">{{recipe.description}}</div>
  <div fxFlex="" class="">{{recipe.ingredients}}</div>
</div>
