<div>
  <form>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput type="text" id="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput type="number" id="amount" placeholder="Amount">
      </mat-form-field>
      <br>  
    </div>
    <button mat-raised-button color="basic" type="submit">Add</button>
      <button mat-raised-button color="primary" type="button">Clear</button>
      <button mat-raised-button color="accent" type="button">Delete</button>
  </form>
</div>
