/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html *
{
   font-family: "Roboto";
}

body {
    margin: 0;
}

hr {
    border-top: 1px;
    border-color: #ddd;
}

.padding {
    padding: 28px;
}

.padding {
    padding: 28px;
}

.padding-horizontal {
    padding: 0px 28px;
}

.padding-horizontal {
    padding: 28px 0px;
}